html {
  width: 100vw;
  background-color: #111111;
}
body {
  font-family: "Rubik", "Helvetica", "Trebuchet MS", "Veranda";
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
span.highlight {
  color: #fcb500;
  display: block;
}
