nav {
  position: sticky;
  left: 0;
  top: 0;
  height: 7vh;
  width: 100vw;
  z-index: 15;
  background-color: #111111;
}
header {
  display: flex;
  width: 100vw;
  background-color: #fcda28;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2rem;
  padding-left: 5vw;
}
div#heroImage {
  position: relative;
  height: 100%;
  margin-left: 1rem;
  flex: 1 1;
}
div#heroImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 1s ease;
}
img.hero:first-child {
  height: calc(15vh + 10vw);
  transform: translate(-50%, -10%);
}
img.hero:nth-child(2) {
  height: calc(30vh + 18vw);
  transform: translate(-50%, -50%);
}
img.hero:nth-child(3) {
  height: calc(20vh + 10vw);
  transform: translate(-90%, 40%);
}

header section {
  width: 60%;
  z-index: 10;
  height: calc(60vh + 12vw);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header section h1 {
  color: white;
  font-weight: bold;
  font-size: calc(9vw + 1vh);
  line-height: 90%;
  margin: 0;
  margin-top: auto;
}
header section p {
  font-size: calc(1rem + 0.5vw);
}
header h2 {
  font-size: calc(1rem + 1.5vw);
  white-space: nowrap;
  margin: 0;
}
header section div {
  margin-top: auto;
  width: 25vw;
  margin-bottom: 4vw;
}
header section div p {
  margin: 0;
}

@media screen and (max-width: 900px) {
  header section div {
    width: 48vw;
    margin-top: 5rem;
  }
  h1 {
    position: absolute;
    top: 0;

    transform: translateY(15%);
  }
  header section p:first-of-type {
    margin-bottom: 6vh;
  }
  header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  img.hero:nth-child(3) {
    height: calc(20vh + 10vw);
    transform: translate(-80%, 50%) rotate(20deg);
  }
  header section div {
    width: 48vw;
    margin-top: 0rem;
  }
  header section h1{
    font-size: 12vw;
  } 
  header section p:first-of-type {
    margin-bottom: 6vh;
    margin-top: 12vw;
  }
}
